<!DOCTYPE html>
<html>
<head>
	<title>This is Resturant Page</title>
</head>

<body>


<%= render 'resturants/findnewresturant'%>


<%= render 'resturants/allcreateresturantlist'%>



  <div class="container">
    <%= yield %>
  </div>


<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>


</body>
</html>