<!DOCTYPE html> 
<html lang="en">
<head> 
<meta charset="UTF-8">

<title>About Us</title>

<link type="text/css" rel="stylesheet" href="/assets/about_us.css">

</head> 
<body> 

<div id="wrapper"> 
<header> 

    <h1>About Us</h1>

</header>

<section id="leftcolumn">

<aside>


</aside>
</section>

<div id="brewsrightcolumn">
<div id="tablebackground">

<table summary="This table credits technical team">

<tr>
<center>
<h1>BestFinder Technical Team</h1> 
</center>
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>
 

<tr>
  <th> <strong><h4>Product Mangager</h4></strong> </th>
  <td><img src="/assets/person.jpg" alt="Project Manager Pic" height="42" width="42">
  
  </td>
  <td>Maninderjit Singh</td>
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>



<tr>
  <th><h4>Product Owner</h4></th>
  <td><img src="/assets/person.jpg" alt="Product Owner Pic" height="42" width="42"/></td>
  <td>Su Pyae Tun</td>
  <td><img src="/assets/person.jpg" alt="Product Owner Pic" height="42" width="42"/></td>
  <td>Kevin Tieu</td>
  
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>

<tr>
  <th><h4>Architect/Technical Lead</h4></th>
  <td><img src="/assets/person.jpg" alt="Architect Pic" height="42" width="42"/></td>
  <td>Tim Davis</td>
  <td><img src="/assets/person.jpg" alt="Technical Lead Pic" height="42" width="42"/></td>
  <td>Kevin Tieu</td>  
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>

<tr>
  <th><h4>Software Developer</h4></th>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic"  height="42" width="42"/></td>
  <td>Tim Davis</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Maninderjit Singh</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Patrick Vu</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Yihua Li</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Myat Noe</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Dante Sanchez</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Kevin Tieu</td>
  <td><img src="/assets/person.jpg" alt="Software Developer Pic" height="42" width="42"/></td>
  <td>Tao Liang</td> 
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>

<tr>
  <th><h4>Software Tester</h4></th>
  <td><img src="/assets/person.jpg" alt="Software Tester Pic" height="42" width="42"/></td>
  <td>Tim Davis</td>
  <td><img src="/assets/person.jpg" alt="Software Tester Pic" height="42" width="42"/></td>
  <td>Patrick Vu</td>
  <td><img src="/assets/person.jpg" alt="Software Tester Pic" height="42" width="42"/></td>
  <td>Myat Noe</td>
  <td><img src="/assets/person.jpg" alt="Software Tester Pic" height="42" width="42"/></td>
  <td>Dante Sanchez</td>
  <td><img src="/assets/person.jpg" alt="Software Tester Pic" height="42" width="42"/></td>
  <td>Tao Liang</td> 
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>

<tr>
  <th><h4>Documentation</h4></th>
  <td><img src="/assets/person.jpg" alt="Documentor Pic" height="42" width="42"/></td>
  <td>Maninderjit Singh</td>
  <td><img src="/assets/person.jpg" alt="Documentor Pic" height="42" width="42"/></td>
  <td>Yihua Li</td>
  <td><img src="/assets/person.jpg" alt="Documentor Pic" height="42" width="42"/></td>
  <td>Myat Noe</td> 
</tr>

<tr>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
  <td><hr/></td>
</tr>

</table>
</div>  
    
</div>

</div>

</body> 
</html>