<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="/assets/contact_us.css">
<link type="text/css" rel="stylesheet" href="../css/print.css" media="print">
<title>Contact Us</title>
</head>

<body>

<div id="wrapper1"> 
<header> 

		<h1>Contact Us</h1>

</header>


<!--<section id="leftcolumn">
<nav>
<ul>
<li><a href="../Index.html">Home</a></li>
<li>Contact us</li>
</ul>
</nav>
</section>-->

<div id="rightcolumn">

<form> 


<fieldset><legend>IDENTITY</legend>

<label for="first">First_Name: </label>
<input type="text" name="first" id="first"/><br>

<label for="last">Last_Name: </label>
<input type="text" name="last" id="last"/><br>

<label for="email">Email: </label>
<input type="text" name="email" id="email"/><br>

<label for="age">Age: </label>
<input type="text" name="age" id="age"/><br>

<label for="age">Phone_#: </label>
<input type="text" name="phone_number" id="phone_number"/><br>

</fieldset>


<fieldset><legend>ADDRESS</legend>
<label for="address"> Address: </label>
<input type="text" name="address" id="address"><br>

<label for="city">City: </label>
<input type="text" name="city" id="city"><br>

<label for="state">State: </label>
<input name="state" type="text" size="2" id="state"><br>

<label for="zip">ZIP: </label>
<input name="zip" type="text" id="zip"><br>
</fieldset>


<fieldset><legend>Favorite Food</legend><br>
<select name="beverage" multiple="multiple">
<option>American</option>
<option>Asian</option>
<option>Indian</option>
<option>Mexican</option>


</select><br>
Comments:
<br>
<textarea name="comments" cols="40" rows="5">Any Comments?</textarea>
<br>
<input type="submit" value="SUBMIT NOW!">
<input type="reset" value="REDUE!">

</form>
		
</div>

<footer>

<a href="http://validator.w3.org/check?uri=referer">HTML checker</a> 
<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS checker</a>

<time datetime="20XX-XX-XX"> May 3, 2017</time>
</footer>

</div>

</body>
</html>