<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


	<div class="footernavPage">

	<center>
			<div class="row">
  				<div class="col-sm-4"><h2>Information</h2></div>

  				<div class="col-sm-4"><h2>Contact</h2>
  					<p><%= link_to "About us", about_us_path%></p>
                	<p><a href="mailto:phyoaung03@gmail.com">contact us</p>
                	<p><%= link_to "Join us", root_path%></p>

  				</div>




  				<div class="col-sm-4"><h2>Location</h2>
  					<div class="footAddress">
  					<p>
  					<img src="/assets/San_Jose_State_University.gif" alt="HTML5 Icon" width="300" height="122">
  					</p>
					<p>San Jose State University<br /> <a onclick="trackLinks('footer','click','campus map');" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+Jose+State+University,+San+Jose,+CA&amp;sll=37.0625,-95.677068&amp;sspn=51.04407,85.341797&amp;ie=UTF8&amp;hq=San+Jose+State+University&amp;hnear=San+Jose+State+University,+San+Jose,+Santa+Clara,+California+95112&amp;z=15&amp;iwloc=A">One Washington Square,<br /> San Jose, CA 95192</a></p>
					<p>408-924-1000</p>
					<span id="directedit">&nbsp;</span>
					</div>
  				</div>



			</div>
      </center>
		</div>

	

</body>
</html>