
           <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <h5><%="#{review.user.first_name} #{review.user.last_name}" %></h5>
                </td>
                <td>
                  <div class="clearfix star-rating" data-score=<%= review.rating %>></div>
                  <%= review.comment %>


                  <% if @review.photo_url present? %>
                  <%= image_tag(@review.photo_url, :size=>"500x300") %>
                  <% end %>

                </td>
              </tr>
            <%end%>
          </tbody>
  